* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
}

/* LAYOUT */
.container {
  display: flex;
  height: 100vh;
}

/* IMAGEM */
.left-side {
  width: 50%;
  background: url("bg-login.jpg") center/cover no-repeat;
}

/* LOGIN */
.right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #061212, #0c1f20);
}

/* CARD */
.login-box {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,255,200,0.2);
  backdrop-filter: blur(15px);
}

/* TEXTOS */
.login-box h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.login-box p {
  color: #aaa;
  margin-bottom: 25px;
}

/* INPUTS */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #ddd;
}

input[type="text"],
input[type="password"] {
  height: 45px;
  border-radius: 10px;
  border: 1px solid #333;
  padding: 10px;
  background: #0b1b1c;
  color: white;
}

/* CHECKBOX */
.options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  color: #aaa;
}

/* BOTÃO */
button {
  margin-top: 20px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: #16c7a8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #13a892;
}

/* LINKS */
a {
  display: block;
  margin-top: 15px;
  color: #16c7a8;
  text-align: center;
  text-decoration: none;
}

/* RODAPÉ */
small {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #777;
}
